@import "node_modules/bootstrap/scss/bootstrap";

html {
  padding: 0;
  margin: 0;
}

body{
    font-family: 'Poppins', sans-serif;
    display: flex;
    align-items: center;
    padding-top: 40px;
    padding-bottom: 40px;
}

.login-main{
  background-color: #333F51 !important;
}

  .form-login {
    width: 100%;
    max-width: 600px;
    padding: 15px;
    margin: auto;
  }
  
  .form-login .checkbox {
    font-weight: 400;
  }
  
  .form-login .form-floating:focus-within {
    z-index: 2;
  }
  
  .form-login input[type="email"] {
    margin-bottom: -1px;
    border-bottom-right-radius: 0;
    border-bottom-left-radius: 0;
  }
  
  .form-login input[type="password"] {
    margin-bottom: 10px;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
  }