body {
  font-family: "Poppins", sans-serif;
}

.purple{
  color: #655CF5 !important;
}

.dark-purple{
  color: #3C3792 !important;
}

.purple-bkg{
  background-color: #655CF5 !important;
}

.lightest-purple-bkg{
  background-color: #F1F0FE !important;
}

.light-purple-bkg{
  background-color: #E3E1FD !important;
}

.green-bkg{
  background-color: #75E209 !important;
}


/* Login page */
.login-main {
  background-color: #333f51 !important;
}
.form-login {
  width: 100%;
  max-width: 600px;
  padding: 15px;
  margin: auto;
}
.form-login .checkbox {
  font-weight: 400;
}
.form-login .form-floating:focus-within {
  z-index: 2;
}
.form-login input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}
.form-login input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}

/* Quiz gamplay page */
.cover-container {
  height: 100vh;
  min-height: 40rem;
  padding-top: 4.5rem;
  padding-bottom: 0;
  background: url("./media/bkg-pattern.png");
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: scroll;
  background-size: cover;
}

.yellow-bkg {
  background-color: #ffc107;
}

/* Tutor dashboard */
.nav-tabs .nav-link{
  color: #3C3792 !important;
}

.nav-tabs .nav-link.active, .nav-pills .nav-link.active{
  background-color: #655CF5 !important;
  border: none !important;
  color: #fff !important;
}

.form-check-input:checked{
  background-color:#75E209 !important;
  border: none !important;
}

#v-pills-tab{
  width: 30% !important;
}

/* Import bootstrap -- STAY AT THE BOTTOM OF THE PAGE */
@import '../node_modules/bootstrap/scss/bootstrap.scss';